/* Colors and fonts */
body {

  background-image: linear-gradient(#ff2846, #6944ff);
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 16px;
  font-weight: 150;
}
h1, h2, h3 {
  font-family: 'cairo', sans-serif;
}
h1 {
  color: #575F7D;
  font-size: 30px;
  font-weight: 300;
}
h2 {
  color: #ff2846;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 200;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #ff2846;
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: #6944ff;
}
.bouton-red {
  background-color: #ff2846;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
.img-circle {
  border-radius: 50%;
}
.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 10px;
  margin: 20px 0px;
  text-align: center;
}
.list{
  list-style: none;
  padding-left: 0px;
  display: inline;
  padding: 10px;
}
.bouton-red:hover {
  background-color: #6944ff;
  color: white;
}
#introduction p {
  margin-bottom: 70px;
}
.container {
  width: 800px;
  margin: 50px auto;
}
.list li {
  display: inline;
  padding: 5px;
}

.list i {
  font-size: 50px;

}

#grad {
  background-image: linear-gradient(red, yellow);
}
@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
.le-wagon p {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 10px;
  margin: 20px 0px;
  text-align: center;
}
